body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: white;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100vh;
  text-align: center;
}

header {
  grid-column: 1;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.Menu {
  grid-column: 2;
  grid-row: 1 / 3;
}

.Main {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  column-gap: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  row-gap: 4px;
}

.Days {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Item {
  background-color: #252525;
}

.Hours {
  display: grid;
  row-gap: 2px;
}

.Hour {
  background-color: #344a4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HoursHeader {
  background-color: #344a4d;
}

header > h1 {
  text-align: left;
  margin-left: 20px;
}

.Menu {
  background-color: #4a2735;
  color: white;
}

.MenuButton {
  text-align: left;
}
