body {
  margin: 0;
  padding: 0;
  background-color: #141414;
  color: white;
  font-family: sans-serif;
}

.App {
  display: grid;
  grid-template-rows: 100px 1fr;
  height: 100vh;
  text-align: center;
}

header {
  grid-column: 1;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.Menu {
  grid-column: 2;
  grid-row: 1 / 3;
}

.Main {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  column-gap: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  row-gap: 4px;
}

.Days {
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Days > h1 {
  font-size: 16px;
}

.Hours {
  display: grid;
  row-gap: 2px;
}

.Hour {
  background-color: #344a4d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Hour > p {
  font-size: 18px;
}

.HoursHeader {
  background-color: #344a4d;
}

header > h1 {
  text-align: left;
  margin-left: 20px;
}

.Menu {
  background-color: #4a2735;
  color: white;
}

.MenuButton {
  text-align: left;
}

.Modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(1, 1, 1);
  background-color: rgba(1, 1, 1, 0.8);
}

.ModalContent {
  background-color: #252525;
  margin: auto;
  margin-top: 100px;
  width: 500px;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.InputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.Item:hover {
  filter: brightness(1.4);
}

.InputContainer > input {
  margin-top: 10px;
  background-color: #333333;
  border: none;
  height: 36px;
  width: 100%;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  padding-left: 4px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  margin-bottom: 20px;
}

.InputContainer > .InputError {
  border: 2px solid #dc323d;
  margin-bottom: 4px;
}

.LabelColour {
  width: 90px;
  text-align: left;
}

.InputColour {
  margin-right: 10px;
}

.InputContainer > textarea {
  font-family: sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #333333;
  border: none;
  height: 180px;
  width: 100%;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  resize: none;
  padding-left: 4px;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

button {
  font-size: 18px;
  border: 2px solid #252525;
  border-radius: 4px;
  color: white;
  margin-left: 8px;
  padding: 10px 0px;
  width: 100px;
}

button:hover {
  cursor: pointer;
  border: 2px solid white;
  transition: 0.1s;
}

.SaveButton {
  margin-left: 10px;
  background-color: hsl(187, 29%, 35%);
}

.SaveButton:hover {
  background-color: hsl(167, 45%, 47%);
}

.CancelButton {
  background-color: hsl(336, 41%, 32%);
}

.CancelButton:hover {
  background-color: hsl(356, 61%, 43%);
}

.ModalContent > h1 {
  display: flex;
  margin: 0;
  margin-bottom: 20px;
}

.InputContainer > label {
  font-size: 18px;
}

.ColourPreview {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.ColourContainer {
  display: flex;
  margin-top: 10px;
}

.TaskNameInvalid {
  margin: 0;
  margin-bottom: 10px;
  color: #dc323d;
}

.Required {
  color: #dc323d;
}

.MenuContainer > h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.MenuContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 20px;
}

.StartEndTimeContainer > select {
  font-size: 18px;
  border: none;
  grid-column: 2;
  text-align: center;
}

.StartEndTimeContainer > label {
  grid-column: 1;
}

.StartEndTimeContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin-bottom: 8px;
}

.InputWeekend {
  accent-color: #3d8071;
}
